{% extends "layout.html" %} {% block body %} {{ error }}
<h1>Editing: {{ message.name }} </h1>
<p>Posted: {{ message.date_created }} | Last edit: {{ message.date_modified }}</p>
<p>
    {{ message.content }}
</p>
<hr>
<form method="POST" action="{{ url_for('message_edit', message_id=message.id) }}">
    <table>
        <tr>
            <td>
                {{ form.name.label }}
            </td>
            <td>
                {{ form.name }}
            </td>
        </tr>
        <tr>
            <td>
                {{ form.content.label }}
            </td>
            <td>
                {{ form.content(rows='10',cols='100') }}
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Confirm" />
            </td>
        </tr>
    </table>
</form>
{% endblock %}