{% extends "layout.html" %}

{% block body %}
    <table>
        <tr>
            <th>Message</th>
            <th>Read</th>
        </tr>
        {% for message in messages %}
        <tr>
            <td>{{ message.name }}</td>
            <td>{{ message.read }}</td>
            <td>
                <form method="POST" action="{{ url_for('messages_set_read', message_id=message.id) }}">
                    <input type="submit" value="Mark as read"/>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}