{% extends "layout.html" %}

{% block body %}
<form method="POST" action="{{ url_for('messages_form') }}">
    <h1>Post a new message</h1>
    <hr>

    <table>
        <tr>
            <td>
                Category
            </td>
            <td>
                <select name="category_select">
                    <option value="default">no category</option>
                    {% for category in categories %}
                        <option value="{{ category.id }}">{{ category.name }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td width="25%">
                {{ form.name.label }}
            </td>
            <td>
                {{ form.name }}
            </td>
            <td>
                <ul>
                    {% for error in form.name.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                {{ form.content.label }}
            </td>
            <td>
                {{ form.content(rows='10',cols='100') }}
            </td>
            <td>
                <ul>
                    {% for error in form.content.errors %}
                        <li> {{ error }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Post"/>
            </td>
        </tr>
    </table>
</form>
{% endblock %}