{% extends "layout.html" %}

{% block body %}
    <h1>Search results</h1>
    <hr>

    <form method="POST" action="{{ url_for('messages_search_results', search_term = search_term) }}">
        <table>
            <tr>
                <td>
                    <select class="form-control" name="selected_sorting">
                        <option value="default">Age (Newest first)</option>
                        <option value="age_asc">Age (Oldest first)</option>
                        <option value="title_asc">Title (Ascending)</option>
                        <option value="title_desc">Title (Descending)</option>
                    </select>
                </td>
                <td>
                    <button class="btn btn-secondary" type="submit">Sort</button>
                </td>
            </tr>
            
        </table>
    </form>
    <hr>
    
    <table style="width:100%">
        <tr>
            <th>Message title</th>
            <th>Date</th>
        </tr>
        {% for message in messages %}
            <tr>
                <td width="50%">
                    <a href="{{ url_for('message_view', message_id=message.id) }}">{{ message.name }}</a>
                </td>
                <td width="50%">{{ message.date_created }}</td>
                {% if current_user.is_authenticated %}
                    <td>
                        <form method="POST" action="{{ url_for('messages_set_read', message_id=message.id) }}">
                            <button class="btn btn-secondary" type="submit">Mark as read</button>
                        </form>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}