{% extends "layout.html" %}
{% block body %}

<form method="POST" action="{{ url_for('message_new_reply', message_id=message.id) }}">
    <h1>Replying to: {{ message.name }} </h1>
    <p style="font-style:italic; font-weight: bold; font-size: 90%">Posted: {{ message.date_created }} | Last edit: {{ message.date_modified }} | By: <a href="{{ url_for('view_user', user_id=user.id) }}">{{ user.username }}</a> <span class="badge badge-danger">Admin</span></p>
    <p>
        {{ message.content }}
    </p>
    <hr>

    <table>
        <tr>
            <td width="25%">
                {{ form.content.label }}
            </td>
            <td width="100%">
                <textarea class="form-control" name="content"></textarea>
            </td>
            <td></td>
        </tr>
        <tr>
            {% for error in form.content.errors %}
                <div class="alert alert-warning" role="alert">    
                    {{ error }}
                </div>
            {% endfor %}
        </tr>
        <tr>
            <td>
                <button class="btn btn-primary" type="submit">Post</button>
            </td>
        </tr>
    </table>
</form>

{% endblock %}