{% extends "layout.html" %} {% block body %}
<form method="POST" action="{{ url_for('message_new_reply', message_id=message.id) }}">
    <h1>Replying to: {{ message.name }} </h1>
    <p>Posted: {{ message.date_created }} | Last edit: {{ message.date_modified }} | By: {{ user.username }} </p>
    <p>
        {{ message.content }}
    </p>
    <hr>
    <table>
        <tr>
            <td>
                {{ form.content.label }}
            </td>
            <td>
                {{ form.content(rows='10',cols='100') }}
            </td>
            <td>
                <ul>
                    {% for error in form.content.errors %}
                    <li> {{ error }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Post" />
            </td>
        </tr>
    </table>
</form>
{% endblock %}