{% extends 'layout.html' %}
{% block body %}
<h1>{{ user.username }}</h1>
{% if user.isSuper == True %}
<p style="font-weight:bold">ADMIN</p>
{% endif %}
<p style="font-style:italic">Joined on: {{ user.date_created }}</p>
<hr>
{% if current_user.isSuper %}
    {% if not user.isSuper %}
        <form method="POST" action="{{ url_for('promote_user', user_id=user.id) }}">
            <input type="submit" value="Promote to ADMIN"/>
        </form>
        {% else %}
        <form method="POST" action="{{ url_for('demote_user', user_id=user.id) }}">
            <input type="submit" value="Demote from ADMIN"/>
        </form>
        {% endif %}
{% endif %}
{% endblock %}