{% extends 'layout.html' %}
{% block body %}

<h1>{{ user.username }}</h1>
{% if user.isSuper == True %}
    <span class="badge badge-danger">ADMIN</span>
{% endif %}
<p style="font-style:italic">Joined on: {{ user.date_created }}</p>

{% if current_user.isSuper %}
    <hr>
        {% if not user.isSuper %}
            <form method="POST" action="{{ url_for('promote_user', user_id=user.id) }}">
                <button class="btn btn-warning" type="submit">Promote to ADMIN</button>
            </form>
            {% else %}
            <form method="POST" action="{{ url_for('demote_user', user_id=user.id) }}">
                <button class="btn btn-danger" type="submit">Demote from ADMIN</button>
            </form>
        {% endif %}
{% endif %}
<hr>

<h2>Threads posted by this user</h2>
<hr>
<table style="width:100%">
    <tr>
        <th>Message</th>
        <th>Date</th>
    </tr>
    {% for message in messages %}
        <tr>
            <td><a href="{{ url_for('message_view', message_id=message.id) }}">{{ message.name }}</a></td>
            <td>{{ message.date_created }}</td>
        </tr>
    {% endfor %}
</table>

{% endblock %}