{% extends "layout.html" %}

{% block body %}
    <h1>{{ category.name }}</h1>
    <hr>
    <table style="width:100%">
        <tr>
            <th>Message (Newest first)</th>
            <th>Date</th>
        </tr>
        {% for message in messages %}
            <tr>
                <td>
                    <a href="{{ url_for('message_view', message_id=message.id) }}">{{ message.name }}</a>
                </td>
                <td>{{ message.date_created }}</td>
                {% if current_user.is_authenticated %}
                    <td>
                        <form method="POST" action="{{ url_for('messages_set_read', message_id=message.id) }}">
                            <input type="submit" value="Mark as read"/>
                        </form>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}