{% extends "layout.html" %}

{% block body %}
    <h1>{{ category.name }}</h1>
    <hr>

    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" name="sorting_method" data-toggle="dropdown" aria-hashpopup="true" aria-expanded="false">
            Sort...
        </button>
        <div class="dropdown-menu" aria-labelledby="sorting_method">
            <a class="dropdown-item" href="{{ url_for('view_category', category_id = category.id, selected_sorting = 'default') }}">Age (Newest first)</a>
            <a class="dropdown-item" href="{{ url_for('view_category', category_id = category.id, selected_sorting = 'age_asc') }}">Age (Oldest first)</a>
            <a class="dropdown-item" href="{{ url_for('view_category', category_id = category.id, selected_sorting = 'title_asc') }}">Title (Ascending)</a>
            <a class="dropdown-item" href="{{ url_for('view_category', category_id = category.id, selected_sorting = 'title_desc') }} ">Title (Descending)</a>
        </div>
    </div>
    <hr>

    <table style="width:100%">
        <tr>
            <th>Message title</th>
            <th>Date</th>
        </tr>
        {% for message in messages %}
            <tr>
                <td width="50%">
                    <a href="{{ url_for('message_view', message_id=message.id) }}">{{ message.name }}</a>
                </td>
                <td width="50%">{{ message.date_created }}</td>
                {% if current_user.is_authenticated %}
                    <td>
                        <form method="POST" action="{{ url_for('messages_set_read', message_id=message.id) }}">
                            <button class="btn btn-secondary" type="submit">Mark as read</button>
                        </form>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}