{% extends "layout.html" %}

{% block body %}
    <h1>Categories</h1>
    <hr>
    {% if current_user.isSuper %}
        [<a href="{{ url_for('new_category') }}">Create new...</a>]
        <hr>
    {% endif %}
    {% for category in categories %}
        <span style="font-size: 110%; font-weight: 500"><a href="{{ url_for('view_category', category_id = category.id) }}">{{ category.name }}</a></span>
        {% if current_user.isSuper %}
            <form method="POST" action="{{ url_for('delete_category', category_id = category.id) }}">
                <input type="submit" value="Delete"/>
            </form>
        {% endif %}
        <hr>
    {% endfor %}
{% endblock %}