{% extends "layout.html" %}
{% block body %}

{% if error %}
<div class="alert alert-warning" role="alert">
{{ error }}
</div>
{% endif %}

{% for error in form.name.errors %}
<div class="alert alert-warning" role="alert">
    {{ error }}
</div>
{% endfor %}

<h1>Create a new category</h1>
<hr>
<form method="POST" action="{{ url_for('new_category') }}">
    <div class="form-group">
        <label>{{ form.name.label}}</label>
        <input type="text" class="form-control" name="name"/>
    </div>
    <button class="btn btn-primary" type="submit">Create</button>
</form>
{% endblock %}